:root {
  --primary: #b3bcf5;
}

.nav-btn {
  padding-top: 28px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease-out;
  color: #fff;
}

.nav-btn:hover {
  transition: all 0.3s ease-out;
  border-radius: 4px;
  padding-bottom: 10px;
  border-bottom: 3px solid #fff;
}
